<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.danny.rpgquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RaceQuestionOne" />
        <activity android:name=".HumanActivity" />
        <activity android:name=".RaceQuestionTwo" />
        <activity android:name=".RaceQuestionThree" />
        <activity android:name=".PlaceHolderActivity" />
        <activity android:name=".PlaystyleQuestionOneActivity" />
        <activity android:name=".WarriorActivity" />
        <activity android:name=".PlaystyleQuestionTwoActivity" />
        <activity android:name=".MageActivity" />
        <activity android:name=".Playstyle_Question_Three_Activity" />
        <activity android:name=".PriestActivity" />
        <activity android:name=".PlaystyleQuestionThreeActivity" />
        <activity android:name=".PlaystylePlaceHolderActivity"></activity>
    </application>

</manifest>